.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .greeting-btn {
    width: 250px;
    height: 70px;
    border-radius: 5px;
    background-color: #9a33fa;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    margin-top: 50px;
  }